[submodule "frontend-imgui/imgui"]
	path = frontend-imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "frontend-imgui/cpp-httplib"]
	path = frontend-imgui/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
