[submodule "frontend-cpp-imgui/imgui"]
	path = frontend-cpp-imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "frontend-cpp-imgui/cpp-httplib"]
	path = frontend-cpp-imgui/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
